.aboutContainer {
  height: 80%;
  margin-left:15%;
  margin-right:20%;
  display: inline-block;
  /* position: relative; */
}

.aboutContainer p{
  font-size: 20px;
}

.aboutContainer .aboutImage{
  height:100%;
  width:auto;
}

.aboutContainer .aboutImage img{
  width:700px;
  height:270px;
}

@media only screen and (max-width: 450px) {
  .aboutContainer {
    margin-left:8%;
    margin-right:8%
  }
  .aboutContainer .aboutImage img{
    width:auto;
    height:200px;
  }
}
