.app {
  display: flex;
  flex-direction: column;
}
.mainContainer {
  flex: 1 0 auto;
}
.mainContents {
  text-align: center;
  margin-left: 20%;
}

@media only screen and (max-width: 1024px) {
  .mainContents {
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
}
