.contents {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center;
}

.contents .blogMap {
  margin: 2%;
}

.contents .blogMap img {
  background-color: lavender;
  border-radius: 15%;
}
