.navMain{
  height: 100px;
  flex:none
}
.navContainer {
  height: 100px;
  width:100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  border-bottom:2px solid black;
  background-color: white;
  z-index: 1;
  align-items: center;
}

.navContainer .navigationBar{
  display: none;
}

.navContainer .navLink {
  display: flex;
  align-self: center;
  margin-right: 25%;
  font-size: 25px;
  margin-bottom:0.5%;
}


.navContainer .navLink a {
  color:black;
  margin: 10%;
  text-decoration: none;
  
}

.navContainer .navLink a:hover {
  color:orange;
}

.navContainer .navbarMyName{
  text-decoration: none;
  color:black;
  margin-left:13%
}

.navContainer h1 {
  margin:0;
  padding:0;
}

@media only screen and (max-width: 1024px) {
  .sidebarMain {
    display: none;
  }

  /* .navContainer h1{
    font-size: 25px;
  } */

  .navContainer .navigationBar{
    display: flex;
    align-items: center;
    margin-right: 20%;
  }

  .navContainer .navLink{
    display: none;
  }
}