.projectDetailContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.projectDetailContainer .contents {
  display: flex;
  align-items: center;
}

.projectDetailContainer .contents .unorderLink {
  flex: 1;
}

.projectDetailContainer .contents .para {
  flex: 2;
}

.projectDetailContainer .demoFrontBack {
  padding-bottom: 3%;
}

.projectDetailContainer img {
  width:400px;
  height:300px;
  padding-bottom: 3%;
}

.navbar-nav{
  background:#f8f9fa;
}


.projectDetailContainer .demoFrontBack a {
  color: blue;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  iframe {
    width: 100%;
  }
}

@media only screen and (max-width: 540px){
  .projectDetailContainer .demoFrontBack img {
    width:260px;
    height:300px;
  }

  .projectDetailContainer .todoImage img{
    width:100%;
  }

}