.projectDetailContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.projectDetailContainer .contents {
  display: flex;
  align-items: center;
}

.projectDetailContainer .contents .unorderLink {
  flex: 1;
}

.projectDetailContainer .contents .para {
  flex: 2;
}

.projectDetailContainer .demoFrontBack {
  padding-bottom: 1%;
}

.projectDetailContainer .demoFrontBack a {
  color: blue;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  iframe {
    width: 100%;
  }
}
